
# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# emacs
*~
.snakemake/
slurm*out

# intellij
.idea

# pytest
.coverage
test-reports
output